*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
	scroll-behavior: smooth;
  scroll-padding-top: 88.65px;
}

body {
	position: relative;
  height: 150vh;
	font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
	background-color: #333;
}
