@use'./reset';

// ============= GENERAL==============

.hero__bg--shadow{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .75);
}

.orange--color{
  color: rgb(255,102,0);
}

// ============= NAVIGATION ================

.navbar-brand{
  font-size: 2rem;
  text-transform: uppercase; 

  i{
    padding: 0 5px;
    font-size: 2.2rem;
  }
}

.nav-link{
  text-transform: uppercase;
}

.nav-link,
.navbar-toggler{
  font-size: 1.8rem;

}